<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbds.appsmartfridge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityListeAlerte"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityAccueil"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFrigos"
            android:parentActivityName=".ActivityAccueil" />
        <activity
            android:name=".ActivityProduits"
            android:parentActivityName=".ActivityFrigo" />
        <activity
            android:name=".ActivityFrigo"
            android:parentActivityName=".ActivityFrigos" />
        <activity android:name=".ActivityProduit" />
        <activity android:name=".ActivityAjoutProduit"></activity>
        <activity android:name=".ActivityAddAlerte" />
        <activity android:name=".AProposActivity" />
        <activity android:name=".ContacterNousActivity" />
        <activity android:name=".ActivityCaracteristiques" />
        <activity android:name=".ActivityChoixAlerte" />
        <activity android:name=".ActivityTemperature" />
        <activity android:name=".ActivityDecomposition" />
        <activity android:name=".ActivityPorte" />
        <activity android:name=".ActivityPeremption" />
        <activity android:name=".ActivityHygrometrie" />
        <activity android:name=".utils.ActivityDashboard"></activity>
    </application>

</manifest>